.zen {
	display: flex;
	flex-direction: column;
	background-color: rgb(89, 155, 114);
	text-align: center;
	color: #eee;
	padding: 20px;
	margin: 0;
	//	height: 100vh;

	.title-activités {
		color: rgb(181, 231, 200);
	}
	.photos-wrapper {
		display: flex;

		.photo {
			display: flex;

			img {
				display: flex;
				max-width: 70%;
			}
		}
	}
}

.pop {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #333;
	background-color: rgb(241, 204, 241);
	padding: 30px;
	margin: 40px;
	padding: 20px;
	margin: 0;
	//	height: 100vh;
	.title-activités {
		color: rgb(65, 52, 61);
	}
	.photos-wrapper {
		display: flex;

		.photo {
			display: flex;

			img {
				display: flex;
				max-width: 70%;
			}
		}
	}
}
