.zen {
	display: flex;
	flex-direction: column;
	background-color: #5fc1da;
	text-align: center;
	color: #318ea5;
	padding: 20px;
	margin: 0;
	font-size: 1.1em;
	.select-theme {
		padding: 5px;
		border: none;
		border-radius: 5px;
		background-color: #c7e6dd;
		margin: 10px 0 30px 0;
		font-weight: 500;
		color: #575e5c;
	}

	.activity-card-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.activity-card {
			display: flex;
			flex-direction: column;
			width: 40%;
			padding: 50px;
			border-radius: 20px;
			margin: 10px;
			background-color: #fcfcfcd7;

			.slide-inner {
				justify-content: center;
				display: flex;
				height: 300px;
				margin: 0;
				padding: 0;
				img {
					border-radius: 6px;
				}
			}

			.title-activités {
				color: #0c7e9b;
			}
			.photos-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				[data-rmiz-wrap="visible"] {
					margin: 0 10px 10px 10px;
					img {
						border-radius: 5px;
					}
				}

				.photo {
					display: flex;
					justify-content: center;

					img {
						display: flex;
						max-width: 90%;
						border-radius: 4px;
					}
				}
			}
		}
	}
}

.pop {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #333;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	padding: 30px;
	margin: 40px;
	padding: 20px;
	margin: 0;
	font-size: 1.1em;
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	.select-theme {
		margin: 10px 0 30px 0;
		padding: 10px;
		border: none;
		border-radius: 5px;
		background-color: #e2f3f9;
		color: #8c3e93;
		font-weight: 600;
	}
	.activity-card-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.activity-card {
			display: flex;
			flex-direction: column;
			width: 50%;
			padding: 50px;
			border-radius: 20px;
			box-shadow: 0 3rem 6rem #5ec5df(0, 0, 0, 0.1);
			margin: 10px;
			background-color: #fcfcfcd7;

			.slide-inner {
				justify-content: center;
				display: flex;
				height: 300px;
				margin: 0;
				padding: 0;

				img {
					border-radius: 6px;
				}
			}

			.title-activités {
				color: rgb(65, 52, 61);
			}
			.photos-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				[data-rmiz-wrap="visible"] {
					margin: 0 10px 10px 10px;
					img {
						border-radius: 5px;
					}
				}

				.photo {
					display: flex;
					justify-content: center;

					img {
						display: flex;
						max-width: 90%;
						border-radius: 4px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 811px) and (max-width: 1100px) {
	.zen,
	.pop {
		.activity-card-wrapper {
			flex-direction: row;
			.activity-card {
				width: 40%;
			}
			.photos-wrapper {
				flex-direction: flex;
				flex-wrap: wrap;
				[data-rmiz-wrap="visible"] {
					margin: 0 10px 0 10px;
					img {
						border-radius: 5px;
						max-width: 240px;
						margin: 4px;
						display: flex;
					}
				}

				.photo {
					img {
						max-width: 90%;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 451px) and (max-width: 810px) {
	.zen,
	.pop {
		.activity-card-wrapper {
			flex-direction: column;
			.activity-card {
				width: 80%;
				.slider-inner {
					height: 200px;
				}
			}

			p {
				color: rgb(55, 94, 95);
			}
			.photos-wrapper {
				flex-direction: flex;
				flex-wrap: wrap;
				[data-rmiz-wrap="visible"] {
					margin: 0 10px 0 10px;
					img {
						border-radius: 5px;
						max-width: 240px;
						margin: 4px;
					}
				}

				.photo {
					img {
						max-width: 90%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 450px) {
	.zen,
	.pop {
		.activity-card-wrapper {
			flex-direction: column;
			justify-content: center;
			.activity-card {
				width: 70%;
				margin: 10px 0 10px 0;
				.slider-inner {
					height: 230px;
				}

				.photos-wrapper {
					flex-direction: column;
					[data-rmiz-wrap="visible"] {
						margin: 0 5px 0 5px;
						img {
							border-radius: 5px;
							max-width: 300px;
							margin: 4px;
						}
					}

					.photo {
						img {
							max-width: 90%;
						}
					}
				}
			}
		}
	}
}
