.zen {
	display: flex;
	flex-direction: column;
	background-color: #5fc1da;
	text-align: center;
	color: #318ea5;
	padding: 20px;
	margin: 0;
	.select-theme {
		padding: 10px;
		border: none;
		border-radius: 5px;
		background-color: #c7e6dd;
	}
	.title-activités {
		color: #2aa6c5;
	}
	.photos-wrapper {
		display: flex;

		.photo {
			display: flex;
			justify-content: center;

			img {
				display: flex;
				max-width: 70%;
			}
		}
	}
}

.pop {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #333;
	background-color: #9ce0d4;
	padding: 30px;
	margin: 40px;
	padding: 20px;
	margin: 0;

	.select-theme {
		padding: 10px;
		border: none;
		border-radius: 5px;
		background-color: #e2f3f9;
	}
	.title-activités {
		color: rgb(65, 52, 61);
	}
	.photos-wrapper {
		display: flex;

		.photo {
			display: flex;
			justify-content: center;

			img {
				display: flex;
				max-width: 70%;
			}
		}
	}
}

@media only screen and (max-width: 450px) {
	.zen,
	.pop {
		p {
			color: rgb(55, 94, 95);
		}
		.photos-wrapper {
			.photo {
				img {
					max-width: 90%;
				}
			}
		}
	}
}
