.comp-title-pre-wrapper {
	padding: 20px;
	font-size: 2em;
	background-color: rgb(241, 240, 255);
	border-radius: 2px;
	font-weight: 400;
	cursor: pointer;
}
.comp-title-pre-wrapper:hover {
	font-weight: 500;
}
.wrapper-general {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;

	.wrapper-formation {
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
		background: radial-gradient(#ffffff, #f5f8fa);
		color: rgb(26, 25, 25);
		padding: 30px;
		margin: 30px;
		width: 90%;

		.formation-p {
			padding: 4px;
		}
	}

	.wrapper-competences {
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
		background: radial-gradient(#ffffff, #f5f8fa);
		color: rgb(26, 25, 25);
		padding: 30px;
		margin: 30px;
		max-width: 80%;

		ul li {
			list-style-type: none;
		}
		.Title-comp {
			font-size: 20px;
			list-style-type: none;
			padding: 4px;
		}
		.sous-wrap-comp {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			max-width: 20rem;
		}
		.competence-span {
			// display: inline-block;
			padding: 7px 5px 7px 5px;
			background-color: rgb(56, 197, 216);
			color: #fff;
			border-radius: 7px;
			margin: 4px;
		}
		.competence-span-clear {
			padding: 7px 5px 7px 5px;
			background-color: rgba(163, 160, 184, 0.856);
			color: #fff;
			border-radius: 7px;
			margin: 4px;
		}
		.competence-span-green {
			padding: 7px 5px 7px 5px;
			background-color: rgba(117, 165, 127, 0.856);
			color: #fff;
			border-radius: 7px;
			margin: 4px;
		}
	}
}
