.comp-title-pre-wrapper {
	padding: 15px;
	font-size: 1.5em;
	background: radial-gradient(#e2f2fc, #cfe2ee);
	border-radius: 6px;
	font-weight: 400;
	cursor: pointer;
	margin: 10px;
}
.comp-title-pre-wrapper:hover {
	color: black;
}
.wrapper-general {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;

	.wrapper-competences {
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
		background: radial-gradient(#ffffff, #e4f0f8);
		color: rgb(26, 25, 25);
		padding: 18px;
		margin: 30px;
		max-width: 80%;

		ul li {
			list-style-type: none;
		}
		.Title-comp {
			font-size: 20px;
			list-style-type: none;
			padding: 4px;
			background-color: rgb(212, 226, 226);
			padding: 10px;
			border-radius: 5px;
		}
		.sous-wrap-comp {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			max-width: 20rem;
		}
		.competence-span {
			// display: inline-block;
			padding: 7px 5px 7px 5px;
			//	background-color: rgb(56, 197, 216);
			color: rgb(0, 0, 0);
			border-radius: 7px;
			margin: 4px;
		}
		.competence-span-clear {
			padding: 7px 5px 7px 5px;
			//	background-color: rgba(163, 160, 184, 0.856);
			color: rgb(0, 0, 0);
			border-radius: 7px;
			margin: 4px;
		}
		.competence-span-green {
			padding: 7px 5px 7px 5px;
			//	background-color: rgba(117, 165, 127, 0.226);
			color: rgb(0, 0, 0);
			border-radius: 7px;
			margin: 4px;
		}
	}
}

@media only screen and (max-width: 980px) {
	.comp-title-pre-wrapper {
		font-size: 22px;
	}
}

@media only screen and (max-width: 560px) {
	.comp-title-pre-wrapper {
		font-size: 20px;
	}
}
@media only screen and (max-width: 340px) {
	.comp-title-pre-wrapper {
		font-size: 16px;
	}
}

@media only screen and (min-width: 810px) and (max-width: 1024px) {
	.comp-title-pre-wrapper {
		margin: 15px 10px 15px 10px;
	}
}
