.footer {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #1a234b;
	flex-wrap: wrap;
	min-height: 150px;

	.footer-link {
		padding: 10px;
		text-decoration: none;
		margin: 0 20px 0px 20px;
		height: 40px;
		color: rgb(255, 255, 255);
		font-weight: 400;
		font-size: 1em;
	}

	.footer-link:hover {
		color: cornsilk;
		font-weight: 500;
	}
	.footer-link-image {
		padding: 10px;
		text-decoration: none;
		margin: 0 20px 0px 20px;
		height: 20px;
	}
}

@media only screen and (max-width: 450px) {
	.footer {
		justify-content: center;
		.footer-link {
			padding: 5px;
			margin: 10px;
		}
	}
}
@media only screen and (min-width: 810px) and (max-width: 1024px) {
	.footer {
		height: 20vh;
	}
}
