.wrapper-general-formation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;

	.wrapper-formation {
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
		background: radial-gradient(#ffffff, #f5f8fa);
		color: rgb(26, 25, 25);
		padding: 30px;
		margin: 30px;
		max-width: 80%;
		justify-content: center;

		.formation-p {
			padding: 14px;
			margin: 10px;
		}

		.image-formation {
			display: flex;
			max-width: 200px;
			margin: 0 auto;
		}
	}
}
