.wrapper-home {
	margin: 0;
	padding: 0;
	height: 100vh;
	.title {
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: rgb(75, 154, 224);
		padding: 20px;
		padding-top: 35px;
		margin-top: -15px;
		color: rgb(255, 255, 255);

		h1,
		h2 {
			font-weight: 500;
			margin: 0;
			padding: 5px;
		}
	}
}
@media only screen and (max-width: 450px) {
	.wrapper-home {
		max-width: 440px;
	}
}
