.navbar {
	display: flex;
	flex-direction: flex;
	margin: 0 auto;
	background-color: rgb(75, 154, 224);
	text-align: center;
	justify-content: center;
	.nav-link {
		color: rgb(255, 255, 255);
		padding: 10px;
		text-decoration: none;
	}
	.nav-link:hover {
		color: rgb(92, 89, 92);
		padding: 10px;
	}
}
