.navbar {
	display: flex;
	flex-direction: flex;
	margin: 0 auto;
	width: 400px;
	text-align: center;
	justify-content: center;
	.nav-link {
		color: rgb(44, 43, 44);
		padding: 10px;
	}
	.nav-link:hover {
		color: rgb(92, 89, 92);
		padding: 10px;
	}
}
