.presentation {
	padding: 40px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	font-size: 18px;
	justify-content: center;

	.presentation-sous-wrapper {
		display: flex;
		flex-direction: column;

		.profil-texte {
			margin: 20px auto;
			max-width: 50rem;
			padding: 10px;
			display: flex;
		}

		.profil-picture-wrapper {
			display: flex;
			justify-content: center;

			.profil-picture {
				max-width: 15rem;
				border-radius: 130px;
			}
		}
	}
	.wrapper-social {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.social {
			width: 60px;
			margin: 20px;
		}
	}
}
@media only screen and (min-width: 810px) and (max-width: 1024px) {
	.presentation {
		margin: 30px 0px 30px 0px;
		//	height: 30vh;
	}
}
